body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nintendoswitch {
    display: flex;
}

.joycon {
    background-color: white;
    width: 110px;
    height: 300px;
    display: flex;
    position: relative;
}

#joyconIzq {
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.gatillo {
    background-color: black;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: -1;
}

#gatilloIzq {
    border-top-left-radius: 90px;
    left: 10%;
}

#menos {
    background-color: black;
    width: 15px;
    height: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.joystick {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
}

#joystickIzq {
    top: 20%;
    left: 35%;
}

.botonesPrinc {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arriba {
    top: 50%;
    left: 45%;
}

#derecha {
    top: 57%;
    left: 65%;
}

#abajo {
    top: 64%;
    left: 45%;
}

#izquierda {
    top: 57%;
    left: 25%;
}

.captura {
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 75%;
    left: 65%;
}

.pantalla {
    height: 300px;
    width: 430px;
    background-color: black;
}

#joyconDer {
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

#gatilloDer {
    border-top-right-radius: 90px;
    left: 35%;
}

#masHorizontal {
    background-color: black;
    width: 15px;
    height: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#masVertical {
    background-color: black;
    width: 5px;
    height: 15px;
    position: absolute;
    top: 15px;
    left: 25px;
}

#botonX {
    top: 15%;
    left: 35%;
}

#botonA {
    top: 22%;
    left: 55%;
}

#botonB {
    top: 29%;
    left: 35%;
}

#botonY {
    top: 22%;
    left: 15%;
}

#joystickDer {
    top: 50%;
    left: 25%;
}

.home {
    background-color: black;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    right: 65%;
}